<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            @*sách*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Owner" asp-controller="Books" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-book"></i>
                    </span>
                    <span class="title">Sách</span>
                </a>
            </li>
            @*Oder*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Owner" asp-controller="Orders" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Đơn hàng</span>
                </a>
            </li>

        </ul>
    </div>
</div>